.cart-page {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.cart-left {
  flex: 3;
}

.cart-card {
  display: flex;
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.cart-image {
  width: 120px;
  height: 120px;
  background: #ddd;
  border-radius: 6px;
  margin-right: 20px;
}

.cart-details h3 {
  margin-bottom: 10px;
}

.remove-btn {
  background: #e53935;
  color: white;
  margin-top: 10px;
}

.cart-summary {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 6px;
  height: fit-content;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.checkout-btn {
  width: 100%;
  margin-top: 20px;
  background: #2874f0;
  color: white;
}
