.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   background-image: url("https://static.vecteezy.com/system/resources/previews/004/299/830/non_2x/shopping-online-on-phone-with-podium-paper-art-modern-pink-background-gifts-box-illustration-free-vector.jpg");
  background-size: cover;
  background-position:   center 100%  ;
  position: relative;
  
  background-repeat: no-repeat;

  }

.login-card {
  position: relative;
  z-index: 1;
  
  background: pink;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  padding: 30px;
  width: 350px;
  border-radius: 12px;
  margin-left: -210px;
  margin-top: -170px;;
  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
}
.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-card input {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}

.login-card input:focus {
  border-color: red;
}

.login-card button {
  background: lightcoral;
  color: white;
  font-weight: bold;
  padding: 10px;
}
.form {
  width: 300px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  color: black;
  display: flex;
  flex-direction: column;
}

.form input, .form select {
  margin: 10px 0;
  padding: 10px;
}

.form button {
  background: red;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
}