.card {
  background: white;
  padding: 15px;
  border-radius: 6px;
  transition: 0.3s ease;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.image-box {
  height: 150px;
  background: #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
}

.desc {
  font-size: 14px;
  color: gray;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.cart-btn {
  width: 100%;
  background: #2874f0;
  color: white;
}
.rating {
  color: #fbc02d;
  font-size: 14px;
  margin: 5px 0;
}
.product-card {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
